# Node.js
node_modules/
dist/

# Config și variabile
.env
.env.*
*.local

# Firebase
firebase-debug.log
firebase.json

# Chei și fișiere sensibile
**/serviceAccountKey.json
*.key.json
*.secret.*
*.credentials.*

# Mac & VS Code
.DS_Store
.vscode/

# Fișiere temporare
date.txt
*.log
*.bak
*.tmp
