@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  min-height: 100%;
}

/* Marquee animation */
.marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 12s linear infinite;
}
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}